body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

/* Estilos generales */
.header {
    background-color:lightskyblue;
    position: relative;
}

.logo-container {
    width: 120px;
    margin: auto;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.navbar-container {
    position: relative;
    background-color: lightskyblue;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    z-index: 100;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    #MenuItems {
        flex-direction: column;
        align-items: center;
    }

    #MenuItems li {
        margin: 5px 0;
    }

    .collage img {
        width: calc(50% - 10px);
    }
}

#MenuItems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#MenuItems li {
    margin: 0 10px;
}

#MenuItems a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Acme', sans-serif;
    margin: auto 50px;
}

#MenuItems a:hover {
    color: black;
    text-decoration: underline;
}


.container_home h1 {
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
}

.info {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin: 20px;
}


.categorias{
    text-align: center;
    font-family: "Playwrite DK Loopet", cursive;
    font-size: 20px;
    background-color: ghostwhite;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.collage img, a {
    width: 350px; /* Ajusta según el tamaño que desees para las imágenes */
    height: 500px; /* Ajusta según el tamaño que desees para las imágenes */
    margin:10px; /* Añade un margen alrededor de cada imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    transition: transform 1200 ease-in-out !important;
}

.collage img:hover {
    transform: translateY(-10px) !important;
    cursor: pointer; /* Añade un cursor al pasar el ratón por encima */
}

.banner {
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 100vw; /* Asegura que el banner ocupe todo el ancho de la ventana */
    overflow-x: hidden; /* Evita que aparezca un scroll horizontal */
}

.banner_info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}

.banner_info h3,
.banner_info i,
.banner_info button {
    margin: 5px; /* Margen vertical de 5px entre los elementos */
}

.banner button {
    background-color: lightskyblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    display: block;
    margin: auto;
}

.banner button:hover {
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
}

.footer {
    background: lightskyblue;
    color: black;
    padding: 20px 0;
    text-align: center;
}
.footer h4 {
    color: black;
    font-family: 'roboto', sans-serif;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.footer_links li {
    display: inline-block;
    margin: 10px 20px; /* Espaciado horizontal entre elementos */
    font-family: 'Popins', sans-serif;
}
.footer_links a {
    color: black;
    text-decoration: none;
}
.footer_links a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.footer hr {
    border: 0;
    border-top: 1px solid black;
}
.footer_links {
    margin-bottom: 20px;
}

.contacto h1 {
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contacto p {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 50px;
}
    .icon_redes {
    display: auto;
    text-align: center;
    }

.icon_redes a {
    font-size: 90px;
    color: black;
    margin: 10px; /* Añade margen vertical entre los iconos */
    text-decoration: none;
}

.icon_redes p {
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    color: black;
    margin: 10px;
}

.icon_redes a:hover {
    color: lightskyblue;
    cursor: pointer;
}

.preguntas h1, 
.devolucion h1, 
.privacidad h1, 
.terminos-condicion h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.preguntas h2, 
.devolucion h2, 
.privacidad h2, 
.terminos-condicion h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
    text-align: justify;
    margin: 20px 30px;
}

.preguntas p, 
.devolucion p, 
.devolucion li, 
.privacidad p, 
.privacidad li, 
.terminos-condicion p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    text-align: justify;
    margin: 20px 30px;
    line-height: 1.5;
}

.mapa {
    display: flex;
    justify-content: center;
    margin: 50px;
}

@media (max-width: 768px) {
    /* Centrar contenido */
    .preguntas, 
    .devolucion, 
    .privacidad, 
    .terminos-condicion {
        padding: 0 10px;
        text-align: center;
    }

    .preguntas h2, 
    .devolucion h2, 
    .privacidad h2, 
    .terminos-condicion h2,
    .preguntas p, 
    .devolucion p, 
    .devolucion li, 
    .privacidad p, 
    .privacidad li, 
    .terminos-condicion p {
        text-align: center;
        margin: 20px 10px;
    }

    .mapa iframe {
        width: 100%;
        height: auto;
    }
}

/* Ajustes para web */
@media (min-width: 769px) {
    .preguntas p, 
    .devolucion p, 
    .devolucion li, 
    .privacidad p, 
    .privacidad li, 
    .terminos-condicion p {
        line-height: 1.5;
    }
}

.galeria {
    position: relative;
    text-align: center;
    margin-top: 20px;
    overflow: hidden; /* Oculta imágenes fuera del contenedor */
}

.galeria .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan */
    overflow: hidden; /* Oculta imágenes fuera del contenedor */
}

.galeria .fila img {
    width: 400px; /* Ajusta según el tamaño que desees para las imágenes */
    height: 400px; /* Ajusta según el tamaño que desees para las imágenes */
    margin: 15px; /* Añade un margen alrededor de cada imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer; /* Añade un cursor al pasar el ratón por encima */
}

.fila img:hover {
    transform: scale(1.09);
}

.contenedor-puntos {
    text-align: center;
    margin: 10px 0;
}

.puntos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.puntos div {
    width: 10px;
    height: 10px;
    background-color: lightgrey;
    border-radius: 50%;
    cursor: pointer;
}

.puntos div.active {
    background-color: black;
}

/* Estilo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 9999; /* Valor alto para estar encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); /* Fondo negro con opacidad */
}

/* Contenido del modal */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 1200px; /* Ajusta según sea necesario */
}

/* Cerrar el modal */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Mostrar texto de la imagen */
#caption {
    margin: auto;
    display: block;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* Estilo para la imagen dentro del modal */
.modal-content {
    max-width: 100%;
    max-height: 80vh; /* Limita la altura de la imagen */
}

@media (max-width: 1470px) {
    .galeria .fila img {
        width: 400px; /* Ajusta según el tamaño que desees para las imágenes */
        height: 400px; /* Ajusta según el tamaño que desees para las imágenes */
        margin:15px; /* Añade un margen alrededor de cada imagen */
        border-radius: 5px; /* Añade esquinas redondeadas */
    }
}

@media (max-width: 768px) {
    /* Estilos específicos para móviles */

    .navbar {
        flex-direction: column;
    }

    #MenuItems {
        flex-direction: column;
        align-items: center;
    }

    #MenuItems li {
        margin: 0.5em 0;
    }

    .collage img, .galeria .fila img {
        width: 100%;
        max-width: none;
        margin: 0.5em 0;
    }

    .galeria .fila {
        display: block;
    }

    .galeria .fila img {
        margin: 0.5em auto;
        width: 80vw;
        max-width: 21.875rem;
    }

    @media (max-width: 768px) {
        /* Estilos específicos para móviles */
    
        .navbar {
            flex-direction: column;
        }
    
        #MenuItems {
            flex-direction: column;
            align-items: center;
        }
    
        #MenuItems li {
            margin: 0.5em 0;
        }
    
        .collage img, .galeria .fila img {
            width: 100%;
            max-width: none;
            margin: 0.5em 0;
        }
    
        .galeria .fila {
            display: block;
        }
    
        .galeria .fila img {
            margin: 0.5em auto;
            width: 80vw;
            max-width: 21.875rem;
        }
    
        .banner {
            height: 40vh; /* Ajustar la altura del banner en móviles */
        }
    
        .banner_info {
            height: auto; /* Ajustar la altura del contenido dentro del banner */
            padding: 10px; /* Reducir el padding */
        }
    
        .banner_info h3 {
            font-size: 1.2rem; /* Ajustar el tamaño del h3 en móviles */
        }
    
        .banner_info p {
            font-size: 1rem; /* Ajustar el tamaño del párrafo en móviles */
        }
    
        .banner_info button {
            font-size: 1rem; /* Ajustar el tamaño del botón en móviles */
            padding: 8px 16px; /* Ajustar el padding del botón en móviles */
        }
    
        .categorias {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }

    .container_home h1, .categorias, .contacto h1, .devolucion h1, 
    .privacidad h1, .terminos-condicion h1, .preguntas h1, .galeria h1 {
        font-size: 1.75rem; /* Reducir el tamaño de los títulos en móviles */
    }

    .contacto p, .devolucion p, .privacidad p, .terminos-condicion p, .preguntas p, .info {
        font-size: 1rem; /* Ajustar el tamaño de texto */
        margin: 0.5em 1em; /* Ajustar los márgenes */
    }

    .icon_redes a {
        font-size: 3.5rem; /* Reducir el tamaño de los íconos de redes sociales */
    }

    .footer h4, .footer_links li, .footer_links a {
        font-size: 1rem; /* Ajustar el tamaño de texto del pie de página */
    }
    
    .footer_links li {
        margin: 0.5em 1em;
    }
}

