/* Estilos generales */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #fcf3e5;
}

.navbar-container {
    position: relative;
    background-color: #a4a68e;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
    z-index: 100;
}

.logo-container {
    width: 100px;
    margin-left: 5%;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

#MenuItems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

#MenuItems li {
    margin: 0 10px;
}

#MenuItems a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
}

#MenuItems a:hover {
    color: white;
}

.container_home h1 {
    font-family: 'pinyon script', cursive;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 36px;
    text-align: center;
    display: block;
}

.container_home p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: black;
    text-align: justify;
    margin: 20px;
}

.content_box {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #a4a68e;
}


.categorias {
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 32px;
    background-color: #fcf3e5;
    color: black;
    letter-spacing: 5px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.collage img {
    width: 550px;
    height: 550px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.collage img:hover {
    transform: translateY(-10px) !important;
    cursor: pointer;
}

.collage2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.collage2 img {
    width: 1000px;
    height: 400px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.collage2 img:hover {
    transform: translateY(-10px) !important;
    cursor: pointer;
}

.banner {
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 100vw; /* Asegura que el banner ocupe todo el ancho de la ventana */

}

.banner h3{
    font-family: 'pinyon script', cursive;
    letter-spacing: 8px;
    font-size: 70px;
}

.banner_info {
    text-align: center;
    margin: auto;
    
}

.banner_info h3,
.banner_info i,
.banner_info button {
    margin: 5px; /* Margen vertical de 5px entre los elementos */
}

.banner button {
    background-color: #a4a68e;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    display: block;
    margin: auto;
}

.banner button:hover {
    background-color: #a4a68e;
    color: white;
    cursor: pointer;
}

.footer {
    background: #a4a68e;
    color: black;
    padding: 20px 0;
    text-align: center;
}
.footer h4 {
    color: black;
    font-family: 'pinyon script', cursive;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.footer_links li {
    display: inline-block;
    margin: 10px 20px; /* Espaciado horizontal entre elementos */
    font-family: 'Playfair Display', serif;
}
.footer_links a {
    color: black;
    text-decoration: none;
}
.footer_links a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.footer hr {
    border: 0;
    border-top: 1px solid black;
}
.footer_links {
    margin-bottom: 20px;
}

.contacto h1 {
    font-family: 'pinyon script', cursive;
    font-size: 36px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.contacto p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 50px;
}
    .icon_redes {
    display: auto;
    text-align: center;
    }

.icon_redes a {
    font-size: 90px;
    color: black;
    margin: 10px; /* Añade margen vertical entre los iconos */
    text-decoration: none;
}

.icon_redes p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: black;
    margin: 10px;
}

.icon_redes a:hover {
    color: #a4a68e;
    cursor: pointer;
}

.preguntas h1, 
.devolucion h1, 
.privacidad h1, 
.terminos-condicion h1 {
    font-family: 'pinyon script', cursive;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.preguntas h2, 
.devolucion h2, 
.privacidad h2, 
.terminos-condicion h2 {
    font-family: 'pinyon script', cursive;
    font-size: 38px;
    text-align: left;
    margin: 20px 30px;
    letter-spacing: 3px;
}

.preguntas p, 
.devolucion p, 
.devolucion li, 
.privacidad p, 
.privacidad li, 
.terminos-condicion p {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: black;
    text-align: left;
    margin: 20px 30px;
    line-height: 1.5;
}

.mapa {
    display: flex;
    justify-content: center;
    margin: 50px;
}



.galeria {
    position: relative;
    text-align: center;
    margin-top: 20px;
    overflow: hidden; /* Oculta imágenes fuera del contenedor */
    font-family: 'pinyon script', cursive;
    letter-spacing: 5px;
}

.galeria .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Evita que las imágenes se envuelvan */
    overflow: hidden; /* Oculta imágenes fuera del contenedor */
}

.galeria .fila img {
    width: 400px; /* Ajusta según el tamaño que desees para las imágenes */
    height: 400px; /* Ajusta según el tamaño que desees para las imágenes */
    margin: 15px; /* Añade un margen alrededor de cada imagen */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer; /* Añade un cursor al pasar el ratón por encima */
}

.fila img:hover {
    transform: scale(1.09);
}

.contenedor-puntos {
    text-align: center;
    margin: 10px 0;
}

.puntos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.puntos div {
    width: 10px;
    height: 10px;
    background-color: lightgrey;
    border-radius: 50%;
    cursor: pointer;
}

.puntos div.active {
    background-color: black;
}

/* Estilo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 9999; /* Valor alto para estar encima de todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); /* Fondo negro con opacidad */
}

/* Contenido del modal */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 1200px; /* Ajusta según sea necesario */
}

/* Cerrar el modal */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Mostrar texto de la imagen */
#caption {
    margin: auto;
    display: block;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* Estilo para la imagen dentro del modal */
.modal-content {
    max-width: 100%;
    max-height: 80vh; /* Limita la altura de la imagen */
}

